html {
    height: 100%;
    background-image: linear-gradient(to top left, #A5A5A5, #BABAC2, #E8E8E8, #A5A5A5, #BABAC2);
}

body {
    height: 100%;    padding: 20px 0;
	text-align: center;
}
#wrapper {
}

img{

}

.fullheight {
    height: 100%;
}

.btn:active {
	opacity: 0.5;
}

/* 顔停止ボタン */
#ImgMoveStop {
	margin: 30px 40px 18px 40px;
}
/* 後退ボタン */
#ImgGoBack {
	margin-top: 30px;
}
#ImgGoStraight{
        margin-top: 10px;
}
#container_top{
    height: 400px;
    height: 650px;
    margin-top: 100px;
    background: red;
	margin: auto;
}
/* まん中の操作パネル*/
#container_handPanels {
	width: 1080px;
	height:320px;
	margin: auto;
	background: pink;
}
#container_buttom{
    height: 400px;
    height: 600px;
    margin-bottom: 100px;
}
#spMode {
	width: 200px;
	margin-top: 10px;
	float: left;
}
#img_FoecedStop {
	margin-top: 25px;
}
.handBtnLeft {
	padding: 10px 0px 0px 0px;
}
.handName {
    padding: 0px 10px 0px 10px;
}
.box {
	width: 380px;
	float: left;
}
.after {
	clear: both;
}

.containt_topAndBottom{
    background: #fff;
	width:1080px;
	margin: auto;
}
.slot{
	width: 360px;
	height: 250px;
	background: #b0c4de;
	float: left;
}
/* 腕操作パネルのスペーサー（左）*/
.boxL{
margin-left: 65px;
}
/* 左向き・停止・右向きのボタン*/
.containt_middle{
	width: 1080px;
	margin: auto;
	padding-right: 10px;
}
/* 横長ボタンのデザイン */
.square_btn{
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #FF66CC;/*色*/
    border-radius: 12px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 3px #FF66CC;/*線色*/
    /*以下追加要素*/
    float: left;
    text-align: center;
    letter-spacing: 0.2em;
    width: 230px;
    height: 65px;
    color: #FFF;
    font-size: 3.2em;
    line-height: 65px;
    padding: 10px 10px;
}
.square_btn:hover {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);/*影を小さく*/
    opacity: 0.5;
}

/* 両脇のサブボタン*/
.subBtnL{
	margin: 20px 0px 0px 100px ;
	background: #ffa500;
    border: none;
}
.subBtnR{
	margin: 20px 0px 0px 10px ;
	background: #ffa500;
    border: none;
}

.lay{
	font-size: 2.5em;
}

.handDown{
	margin-top: 10px;
}

.jyouhanshin{
	font-size: 2.0em;
}

